<html>
<head>
    <meta name="viewport" content="width=device-width, minimum-scale=0.1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <title><%= title %></title>
</head>
<body style="margin: 0px; background: #0e0e0e;">
<div style="height: 100%; position: relative;">
    <img id="imgShow" style="position: absolute;
margin: auto;left: 0;top: 0;bottom: 0;right: 0;max-width: 100%;max-height: 100%;" src="/images/<%= id %>.png">
    <img id="a1" style="position: absolute;
margin: auto;left: 0;top: 0;bottom: 0;right:90%; transform: rotate(180deg);" src="/imgwork/arrow.png">
    <img id="a2" style="position: absolute;
margin: auto;top: 0;bottom: 0;right: 0;left:90%;" src="/imgwork/arrow.png">


</div>
<script>
    $(document).ready(() => {
        let i = 0;
        let amountImages = $.cookie('number');
        let onArrowOver = false;
        let timer;
        $(document).on('mousemove', () => {
            clearInterval(timer);
            $("#a2").fadeIn();
            $("#a1").fadeIn();
            timer = setTimeout(() => {
                if (!onArrowOver) {
                    $("#a2").fadeOut("slow");
                    $("#a1").fadeOut("slow");
                }
            }, 5000);
        });

        $("#a2").click(() => {
            upImage()
        });
        $("#a2").mouseover(() => {
            onArrowOver = true
        });
        $("#a2").mouseout(() => {
            onArrowOver = false
        });
        $("#a1").click(() => {
            downImage()
        });
        $("#a1").mouseover(() => {
            onArrowOver = true
        });
        $("#a1").mouseout(() => {
            onArrowOver = false
        });
        function upImage() {
            i++;
            if (i > amountImages) i = 0;
            $('#imgShow').attr('src', `/images/${i}.png`);
        }
        function downImage() {
            i--;
            if (i < 0) i = amountImages;
            $('#imgShow').attr('src', `/images/${i}.png`);
        }
    });
</script>
</body>
</html>
