<!DOCTYPE html>
<html>
<head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title><%=title%></title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
</head>
    <body>
         <h1 style = "text-align: center">Тестовый сервер</h1>
         <div class = "menu">
         <a href="/start">Загрузить изображение</a><br>
         <a id="gallery" href="/gallery">Галерея</a><br>
         <a id="showAll" href="/showAll">Показать все изображение</a><br>
         </div>
    </body>
<script>
    $(document).ready(()=> {
        // language=JQuery-CSS
        $("#showAll").hide();
        $("#gallery").hide();
        let test = $.cookie('number');
        if(test>=0) {
            $("#showAll").show();
            $("#gallery").show();
           /* for (let i = 0; i <= test; i++) {
                $('<a id="third"></a><br>').appendTo(".menu").attr("href", "/images/" + i + ".png").html("Изображение " + i);
            }*/
        }

    });
</script>
</html>